* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/*--------------------------------------------HEADER--------------------------------------------*/
header {
  background-color: #ff6900;
  position:fixed;
  width:100%;
  top:0;
  z-index:2;
}

.nav-cont {
  max-width:1300px;
  height:50px;
  margin:auto;
  display:flex;
  justify-content: space-between;
  align-items:center;
}

/*Categories*/
.category-list {
  list-style-type: none;
  display:flex;
  justify-content: center;
}

ul > li {
  padding:5px;
  font-weight: 600;
  font-size: .9rem;
}

li > a {
  text-decoration: none;
  color:white;
}

/*Central logo*/
.central-logo {
  height:30px;
}

/* Profile - Favorites - Shopping bag Icons*/
.icons {
  background-color: transparent;
  border:0 solid transparent;
}

.icons:hover{
  cursor: pointer;
}

.icon {
  color: white;
  padding:3px;
}

/*--------------------------------------------MAIN--------------------------------------------*/
main {
  max-width:1300px;
  margin:auto;
  margin-top:100px;
  margin-bottom:100px;
}

.displays {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap:120px;
}

.none {
  display:none;
}

.changepic:hover .hoverme {
  display:none;
}

.changepic:hover .none {
  display: inline-block;
}

.display-clothes {
  height:600px;
  flex-basis:32%;
  position: relative;
}

.display-clothes img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Brand, Name & Price*/
.brand {
  font-size: .8rem;
}

.item-name {
  text-transform: uppercase;
}

strong {
  color:red;
}

span {
  text-decoration: line-through;
}

/*tags*/
.bottom-overlay {
  position:absolute;
  bottom: 40px;
  left: 0px;
  width: 100%;
}

.top-overlay {
  position:absolute;
  top:20px;
  left:381px;
  width: 100%;
}

.discount {
  background-color: red;
  font-size: .8rem;
  padding:.3rem;
  color:white;
}

.sus {
  background-color: green;
  font-size: .8rem;
  padding:.3rem;
  color:white;
}

.fav {
  background-color: white;
  font-size: 2rem;
  padding: 1px 10px;
  color:black;
}

.fav,
.sus,
.discount {
  font-weight: bold;
  display: inline-block;
}

.fav:hover {
  color: #ff6900;
  cursor: pointer;
}

/*--------------------------------------------FOOTER--------------------------------------------*/
footer {
  background-color: #1a1a1a;
  max-height:300px;
}

.csf {
  max-width:1300px;
  display:flex;
  justify-content: space-between;
  margin:auto;
  padding:30px 0px;
}

.color {
  color:white;
}

.info {
  display:flex;
  padding-top:10px;
}

.info .color {
  font-size:.8rem;
  padding-right:10px;
}

.socialico {
  padding-left:5px;
  padding-top:5px;
}

.sizeicons {
  width:20px;
}